body {
    font-family: Arial, sans-serif;
    color: white;
    background: #5a94ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .container {
    display: flex;
    width: 58vh;
    height: 38vh;
    text-align: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    flex-direction: column;
    background: rgb(0, 0, 0, );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .container_botao {
    margin-top: 8vh;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
  }


  input {
    border: none;
    display:block;
    font-size: 16px;
    width: 150px;
    height: 4vh;
    margin-top: 16px;
    border-radius: 6px;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;

  }

  .chutar {
    width: 150px;
    height: 4vh;
    font-size: 18px;
    margin-top: 10px;
    background-color: #80f89a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .respawn {
    width: 150px;
    height: 4vh;
    font-size: 18px;
    margin-top: 10px;
    background-color: #ffa36d;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
